# This MySQL configuration file is meant to be a generic "starting point" for a
# well-tuned MySQL installation.  Additional changes may be required depending
# on the specifics of your database usage.
# Must ensure that all file paths will allow mysql to perform the relevant file operations 
# (read, write, etc) 
[client]
port            = 3306
socket          = <%= @node[:mysql][:server][:datadir] %>/mysql.sock
default-character-set = utf8

[mysqld]
# Percona has everything all built-in, so we comment these out.
#ignore_builtin_innodb
#plugin_load=innodb=ha_innodb_plugin.so;innodb_trx=ha_innodb_plugin.so;innodb_locks=ha_innodb_plugin.so;innodb_lock_waits=ha_innodb_plugin.so;innodb_cmp=ha_innodb_plugin.so;innodb_cmp_reset=ha_innodb_plugin.so;innodb_cmpmem=ha_innodb_plugin.so;innodb_cmpmem_reset=ha_innodb_plugin.so

user=mysql
port            = 3306
basedir=/usr
datadir=<%= @node[:mysql][:server][:datadir] %>
pid-file=/var/run/mysql/mysqld.pid
socket          = <%= @node[:mysql][:server][:datadir] %>/mysql.sock
default-character-set = utf8
character-set-server = utf8

skip-name-resolve
skip-show-database
skip-locking
max_allowed_packet = 1M

# Uncomment this to prevent listening on a TCP/IP port at all.
# This can be a security enhancement, if all processes that need to connect
# to mysqld run on the same host.  All interaction with mysqld must be made
# via Unix sockets.
#
#skip-networking

# Bind to this ip address.  Comment out for "all interfaces."
bind-address=<%= node[:mysql][:server][:bindaddress] %>

# This should be unique across all servers in a replication set-up
# For vslices, we use the veid, for hosts, the numeric part of the hostname
# (unfortunately, this may clash at sometime in the future, so be aware of
# that possibility
<% if node[:mysql][:server][:replication][:id] %>
server-id = <%= node[:mysql][:server][:replication][:id] %>
<%- end %>

<% if node[:mysql][:server][:replication][:role] == "master" || node[:mysql][:server][:replication][:role] == "dualmaster" %>
#  For master replication, uncomment the following lines.
log-bin = <%= @node[:mysql][:server][:datadir] %>/mysql-bin
log-bin-index = <%= @node[:mysql][:server][:datadir] %>/mysql-bin.index
expire-logs-days = 10
max_binlog_size = 104857600
log-slave-updates
#sync_binlog=100
# For fastest albeit least-tolerant-of-crashes master, use this instead:
sync_binlog=0
# This must be the same across all master in the cluster, and >= the number of master servers.
auto_increment_increment=<%= @node[:mysql][:server][:replication][:autoincrementincrement] %>
# This should be unique across all masters in the cluster, and less than auto_increment_increment
auto_increment_offset=<%= node[:mysql][:server][:replication][:autoincrementoffset] %>
<%- end %>

<% if node[:mysql][:server][:replication][:role] == "slave" || node[:mysql][:server][:replication][:role] == "dualmaster" %>
# For a slave or dual-master, uncomment the following lines.
relay-log = <%= @node[:mysql][:server][:datadir] %>/slave-relay-bin
relay-log-index = <%= @node[:mysql][:server][:datadir] %>/slave-relay-bin.index
relay-log-info-file = <%= @node[:mysql][:server][:datadir] %>/slave-relay-bin.info
# You will often also want this:
replicate-ignore-db = mysql
<% else %>
# For a slave or dual-master, uncomment the following lines.
#relay-log = <%= @node[:mysql][:server][:datadir] %>/slave-relay-bin
#relay-log-index = <%= @node[:mysql][:server][:datadir] %>/slave-relay-bin.index
#relay-log-info-file = <%= @node[:mysql][:server][:datadir] %>/slave-relay-bin.info
# You will often also want this:
#replicate-ignore-db = mysql
<%- end %>

<% if node[:mysql][:server][:replication][:role] == "slave" %>
# For a slave, uncomment this line.
read_only = 1
<% else %>
# For a slave, uncomment this line.
#read_only = 1
<%- end %>

# Uncomment the following if running on anything larger than a 256MB VPS:
key_buffer = 16M
query_cache_size=32M
sort_buffer_size = 1M
max_heap_table_size = 32M
query_cache_type=1
tmp_table_size = 32M
read_buffer_size = 2M
read_rnd_buffer_size = 8M
myisam_sort_buffer_size = 8M
innodb_log_buffer_size = 10M

# Other general "good idea" settings:
max_connections = 2000
interactive_timeout = 36000
wait_timeout=36000
connect_timeout=36000
# This must be <= the size of your ibdata1 file if it currently exists.
innodb_data_file_path = ibdata1:128M:autoextend
innodb_data_home_dir = <%= @node[:mysql][:server][:datadir] %>
innodb_log_group_home_dir=<%= @node[:mysql][:server][:datadir] %>
innodb_log_files_in_group=2
innodb_file_per_table
# This must match your current log file size if these logs
# already exist.
innodb_log_file_size = 128M
innodb_flush_log_at_trx_commit = 2

# Number of CPUs in system.
thread_concurrency = <%= @node[:cpu][:total] %>

# Tuned parameters based on total amount of RAM.
table_cache = <%= @table_cache %>
thread_cache = <%= @thread_cache %>
innodb_buffer_pool_size = <%= @innodb_buffer_pool_size %>
innodb_additional_mem_pool_size = <%= @innodb_additional_mem_pool_size %>

# Log slow queries.
long_query_time=1
log-slow-queries=<%= @node[:mysql][:server][:logdir] %>/log-slow-queries.log


[mysqldump]
default-character-set = utf8
quick
max_allowed_packet = 16M

[mysql]
default-character-set = utf8
no-auto-rehash

[mysqlhotcopy]
default-character-set = utf8
interactive-timeout

[mysqld_safe]
default-character-set=utf8
log-error=<%= @node[:mysql][:server][:logdir] %>/mysqld.log
